SNOWFLAKE_ACCOUNT=abc12345.ca-central-1.aws   # from your Snowflake trial URL
SNOWFLAKE_USER=your_username
SNOWFLAKE_PASSWORD=your_password
SNOWFLAKE_WAREHOUSE=COMPUTE_WH
SNOWFLAKE_DATABASE=RETAIL
SNOWFLAKE_ROLE=ACCOUNTADMIN
